@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

#section1 {
  color: #fff;
}

.fp-section {
  text-align: center;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white !important;
}

.fp-controlArrow.fp-prev {
  opacity: 0.3;
}

.fp-controlArrow.fp-next {
  opacity: 0;
}

.section{
  position: relative;;
}